// @import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap&subset=cyrillic');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700&display=swap&subset=cyrillic');



@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/OpenSans-Regular-webfont.eot?') format('eot'),
       url('../public/fonts/OpenSans-Regular-webfont.woff') format('woff'),
       url('../public/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
       url('../public/fonts/OpenSans-Regular-webfont.svg#Open Sans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light Italic";
  src:
    url("../public/fonts/OpenSans-LightItalic-webfont.eot?") format("eot"),
    url("../public/fonts/OpenSans-LightItalic-webfont.woff") format("woff"),
    url("../public/fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"),
    url("../public/fonts/OpenSans-LightItalic-webfont.svg#Open Sans Light Italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Light";
  src:
    url("../public/fonts/OpenSans-Light-webfont.eot?") format("eot"),
    url("../public/fonts/OpenSans-Light-webfont.woff") format("woff"),
    url("../public/fonts/OpenSans-Light-webfont.ttf") format("truetype"),
    url("../public/fonts/OpenSans-Light-webfont.svg#Open Sans Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Bold";
  src:
    url("../public/fonts/OpenSans-Bold-webfont.eot?") format("eot"),
    url("../public/fonts/OpenSans-Bold-webfont.woff") format("woff"),
    url("../public/fonts/OpenSans-Bold-webfont.ttf") format("truetype"),
    url("../public/fonts/OpenSans-Bold-webfont.svg#Open Sans Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src:
    url("../public/fonts/Montserrat.eot?") format("eot"),
    url("../public/fonts/Montserrat.woff") format("woff"),
    url("../public/fonts/Montserrat.woff2") format("woff2"),
    url("../public/fonts/Montserrat.ttf") format("truetype"),
    url("../public/fonts/Montserrat.svg#Montserrat") format("svg");
  font-weight: normal;
  font-style: normal;
}
