/* Footer */
.footer {
	background: #2e3b3e;
	width: 100%;
	height: 86px;
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	color: $grey;
	font-family: $font-default;
	font-size: 12px;
}


 /*
 ##Device = Desktops
 min-width = 1366px
*/

@media screen and (min-width: $laptop + 1px) {
	// SCSS

}

/*
	##Device = Laptops, Desktops
	max-width = 1365px
*/

@media screen and (max-width: $laptop) {

	// SCSS

}


/*
	##Device = Tablets, Ipads (portrait)
	min-width = 769px max-width = 1024px
*/

@media screen and (min-width: $tablet + 1px) and (max-width: $tablet-portrait) {

	// SCSS


}

/*
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	max-width = 768px
*/

@media screen and (max-width: $tablet) {
	// SCSS

}


/*
	 ##Device = Most of the Smartphones Mobiles (Portrait)
	 min-width = 320px max-width = 640px
*/

@media screen and (min-width: $site-min-width) and (max-width: $mobile) {
	// SCSS

}
